BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 120

BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false

BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: true
  BeforeElse: true
  IndentBraces: false

SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInAngles: false
SpaceAfterCStyleCast: false

AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
